<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participants</title>
    <link rel="stylesheet" href="table_style.css" />
  </head>
  <body>
    <div class="table-container">
      <h2 class="table-heading">Participants</h2>

      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>F.I.SH</th>
            <th>Tug'ulgan sana</th>
            <th>Jinsi</th>
            <th>Vazn toifasi</th>
            <th>Belbog' toifasi</th>
            <th>Jamoa</th>
            <th>Murabbiy</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td data-heading="id">1</td>
            <td data-heading="full_name">Akmalhonov Aziz Akramhonovich</td>
            <td data-heading="date_birth">12.07.2005</td>
            <td data-heading="gender">Erkak</td>
            <td data-heading="weight_category">50-55 kg</td>
            <td data-heading="rang_category">Sariq</td>
            <td data-heading="team_name">Sharqona</td>
            <td data-heading="team_name">Stanislav Andreev</td>
          </tr>

          <tr>
            <td data-heading="id">1</td>
            <td data-heading="full_name">Akmalhonov Aziz Akramhonovich</td>
            <td data-heading="date_birth">12.07.2005</td>
            <td data-heading="gender">Erkak</td>
            <td data-heading="weight_category">50-55 kg</td>
            <td data-heading="rang_category">Sariq</td>
            <td data-heading="team_name">Sharqona</td>
            <td data-heading="team_name">Stanislav Andreev</td>
          </tr>

          <tr>
            <td data-heading="id">1</td>
            <td data-heading="full_name">Akmalhonov Aziz Akramhonovich</td>
            <td data-heading="date_birth">12.07.2005</td>
            <td data-heading="gender">Erkak</td>
            <td data-heading="weight_category">50-55 kg</td>
            <td data-heading="rang_category">Sariq</td>
            <td data-heading="team_name">Sharqona</td>
            <td data-heading="team_name">Stanislav Andreev</td>
          </tr>

          <tr>
            <td data-heading="id">1</td>
            <td data-heading="full_name">Akmalhonov Aziz Akramhonovich</td>
            <td data-heading="date_birth">12.07.2005</td>
            <td data-heading="gender">Erkak</td>
            <td data-heading="weight_category">50-55 kg</td>
            <td data-heading="rang_category">Sariq</td>
            <td data-heading="team_name">Sharqona</td>
            <td data-heading="team_name">Stanislav Andreev</td>
          </tr>

          <tr>
            <td data-heading="id">1</td>
            <td data-heading="full_name">Akmalhonov Aziz Akramhonovich</td>
            <td data-heading="date_birth">12.07.2005</td>
            <td data-heading="gender">Erkak</td>
            <td data-heading="weight_category">50-55 kg</td>
            <td data-heading="rang_category">Sariq</td>
            <td data-heading="team_name">Sharqona</td>
            <td data-heading="team_name">Stanislav Andreev</td>
          </tr>

          

          
        </tbody>
      </table>
    </div>
  </body>
</html>