<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CSS Tournament Bracket</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
    <link rel="stylesheet" href="static\css\tournament_style.css">

  
</head>

<body>
    <div class="bracket">
        <section class="round quarterfinals">
            <div class="winners">
                <div class="matchups">
                    {% for match in matches %}                    
                        <div class="matchup">
                            <div class="participants">
                                {% for member in match %}
                                    <div class="participant"><span>{{member}}</span></div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Test</span></div>
                            <div class="participant"><span>Test</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Test</span></div>
                            <div class="participant winner"><span>Test</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round semifinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>G'olib</span></div>
                            <div class="participant"><span>Mag'lub</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>G'olib</span></div>
                            <div class="participant"><span>Mag'lub</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round finals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>G'olib</span></div>
                            <div class="participant"><span>Mag'lub</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

  
  

</body>

</html>
